.q-card {
  background: rgb(212, 209, 209);
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
    align-items: center;

}
.primary-btn{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    width: auto;
    margin-bottom: 16px;
}
.q-title {
  margin: 0;
}


.cta-btn{
    display: flex;
    gap: 16px;
}
.q-btn {
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}
.edit-btn {
    background-color: green;
}
.delete-btn {
    background-color: red;
}

#create-newQ{
    width: 50%;
    padding: 0;
    
}
#create-newQ input{
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
}
.body-dl{
    margin: 20px 20px;
}