*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: gray;
    padding: 25px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
a:active{
    color: thistle;
}
.hero-img{
margin-top: 300px;
text-align: center;
}
img{
    width: 25%;
    height: auto;
    background-color: rgb(235, 237, 225);
    padding: 10px 100px;
}